<%= render :partial => 'shared/player', :collection => [@player] %>

<p><strong>Matches goalkeeping:</strong></p>
<%= render :partial => 'shared/match', :collection => @player.matchs_goalkeper %>

<p><strong>Matches attacking:</strong></p>
<%= render :partial => 'shared/match', :collection => @player.matchs_attacker %>

<p><strong>Goals:</strong></p>
<%= render :partial => 'shared/goal', :collection => @player.goals %>